<h1>Axis and Allies Calculator</h1>
<h2>1942 2nd Edition</h2>

<div>Round {{ roundNumber | async }}</div>
<div><button on-click="nextRound()">Next Round</button></div>
<table>
  <thead>
    <th></th>
    <th>Prob.</th>
  </thead>
  <tbody>
    <tr>
      <th>Attacker</th>
      <td>{{ attackerWinP | async }}</td>
    </tr>
    <tr>
      <th>Defender</th>
      <td>{{ defenderWinP | async }}</td>
    </tr>
    <tr>
      <th>Draw</th>
      <td>{{ drawP | async }}</td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
