@import "../variables.scss";

#setup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h3 {
        width: 100%;
    }

    app-setup-force {
        flex: 1;
    }

    .actions {
        width: 100%;
    }
}

table {
    width: 100%;
    border: 4px double #4e8789;
    border-collapse: collapse;
    background-color: aliceblue;
}

thead {
    color: black;
    border-bottom: 1px solid #9FBFC4;
    background-color: #9FBFC4;
    th {
        font-weight: normal;
    }
}

tr {

    &:nth-child(2n) {
        background-color: #EEE;
    }
}

th:first-of-type {
    text-align: right;
}

td, th {
    &.numeric {
        text-align: right;
    }
}

.cumulative-results {
    max-width: 32em;
}
