@use "sass:color";

.loss-order {
    display: flex;
    margin: 0 -.25em;
    flex-wrap: wrap;
    justify-content: center;

    h4 {
        width: 100%;
        margin: .25em;
    }

    input {
        display: none;

        + label {
            margin: .25em;
            padding: .5em;
            border: 1px solid #9FBFC4;
            border-radius: 1em;
            background-color: aliceblue;
            user-select: none;

            &:hover {
                border-color: #4e8789;
            }
        }

        &:checked + label {
            border-color: #4e8789;
            background-color: #4e8789;
            color: white;
        }
    }
}

.force-editor .unit {
    display: flex;
    label {
        flex: 2;
    }
    input {
        flex: 1;
        min-width: 5ch;
        text-align: right;
    }
}
